.container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 2.5rem;
}
.categoryWrap{
    display: inline-block;
    padding-right: 5rem;
    font-size: 1.1rem;
}
.categoryRow{
    display: flex;
    align-items: center;
}
.folderIcon{
    display: inline-block;
    width: 1.3rem;
    margin-right: 0.5rem;
    margin-top: -0.1rem;
}
.title{
    font-size: 1.2rem;
    font-weight: 600;
}

@media (prefers-color-scheme: dark) {
    .folderIcon{
        fill: white;
    }
}